<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="/">Inicio</a>
        <a class="navbar-brand" href="/realtimeproducts">Productos en Tiempo Real</a>
        <a class="navbar-brand" href="/products">Productos Paginados</a>
    </div>
</nav>

<h1 class="text-center my-4">Productos en tiempo real</h1>

<div class="container text-center my-4">
    <button id="prevPage" class="btn btn-primary">Anterior</button>
    <span id="currentPage" class="mx-3">Página 1</span>
    <button id="nextPage" class="btn btn-primary">Siguiente</button>
</div>

<div class="container my-4">
    <div class="row">
        <div class="col-md-6">
            <select id="filterCategory" class="form-select">
                <option value="">Todas las categorías</option>
                <option value="Autos">Autos</option>
                <option value="Pickups">Pick-ups</option>
                <option value="Suvs">SUVs</option>
            </select>
        </div>
        <div class="col-md-6">
            <select id="sortPrice" class="form-select">
                <option value="">Sin ordenar</option>
                <option value="asc">Precio: Menor a mayor</option>
                <option value="desc">Precio: Mayor a menor</option>
            </select>
        </div>
    </div>
</div>

<div id="content" class="row"></div>

<div class="container my-4">
    <div id="error-message" class="alert alert-danger" style="display: none;"></div>

    <form id="producto-form" class="row g-3">
        <div class="col-md-6">
            <input type="text" id="title" class="form-control" placeholder="Nombre" required>
        </div>
        <div class="col-md-6">
            <input type="text" id="description" class="form-control" placeholder="Descripción" required>
        </div>
        <div class="col-md-6">
            <input type="text" id="code" class="form-control" placeholder="Código" required>
        </div>
        <div class="col-md-6">
            <input type="number" id="price" class="form-control" placeholder="Precio" required>
        </div>
        <div class="col-md-6">
            <input type="text" id="category" class="form-control" placeholder="Categoría" required>
        </div>
        <div class="col-md-6">
            <input type="text" id="image" class="form-control" placeholder="URL de la imagen" required>
        </div>
        <div class="col-12 text-center">
            <button type="submit" class="btn btn-primary">Agregar Producto</button>
        </div>
    </form>
</div>

<div class="container text-center my-4">
    <select id="producto_id" class="form-select d-inline-block w-auto"></select>
    <button onclick="eliminarProducto()" class="btn btn-danger">Eliminar</button>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>